body {
    background-color: #ffffff;
}

.myPage {
    background-color: #c5cbfb;
    width: 800px;
    margin-top: 0px;
    margin-left: 0px;
}

h2, h3 {
    margin-left: 20px;
}    

.myPage img {
    margin-top: 40px;
    margin-left: 40px;
    }

.clickable {
    border: 5px solid black;
    }

.selected {
    border: 5px solid red;
}

